section.endurance
  .container
    .row
      .col-xs-12.col-sm-6.endurance__col.endurance__height
        img.endurance__img.img-responsive(src=content.index.endurance.image.src, alt=content.index.endurance.image.alt)
      .col-xs-12.col-sm-6.endurance__height
        .endurance__heading!=content.index.endurance.heading
        img.img-responsive.endurance__img(src=content.index.endurance.img.src, alt=content.index.endurance.img.alt)
        .endurance__text!=content.index.endurance.text

      
