section.properties
  .container
    .row
      .col-xs-12.col-sm-6
        h2.heading.properties__heading.heading--white!=content.index.properties.heading
    .row
      .col-xs-12.col-sm-4
        h3.properties__title!=content.index.properties.title  
    .row  
      .col-xs-12.col-sm-4.col-lg-4.col-sm-pull-1.properties__col
        .properties__point.properties__point--blue!=content.index.properties.pointr
        .properties__text!=content.index.properties.textr   
      .col-xs-12.col-sm-4.col-sm-offset-1.col-lg-4
        .properties__point.properties__point--red!=content.index.properties.pointl 
        .properties__text!=content.index.properties.textl  